<!DOCTYPE html>
<html lang="en">
<head>
  <title>Positivity Place</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    p, li {
      font-size: 1.5em;
    }
    iframe {
      width: 100%;
      height: 500px;
    }

</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('render_static', page_name='home') }}">Positivity Place</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('render_static', page_name='home') }}">Home</a></li>
      <li><a href="{{ url_for('render_static', page_name='about') }}">About</a></li>
      <li><a href="{{ url_for('render_static', page_name='food') }}">Food</a></li>
      <li class="active"><a href="{{ url_for('render_static', page_name='exercise') }}">Exercise</a></li>
      <li><a href="{{ url_for('render_static', page_name='games') }}">Games</a></li>
      <li><a href="{{ url_for('render_static', page_name='vent') }}">Vent Pillow</a></li>
      <li><a href="{{ url_for('render_static', page_name='other') }}">Other</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1>Exercise</h1>
  <p>Simple home workouts!</p>
   <iframe 
    src="https://www.youtube.com/embed/watch?v=FOM3HjVx9JU&list=FLIJwWYOfsCfz6PjxbONYXSg">
</iframe> 
<iframe
    src="https://www.youtube.com/embed/watch?v=I5COzZlxaI4&list=PL5lPziO_t_VihSUj6jvYDHpt4ZcPhV2bg">
</iframe> 
<iframe 
    src="https://www.youtube.com/watch?v=dcqW72d5JjI&list=PLui6Eyny-UzxL6NjFMYD5-vESNii8_aLi">
</iframe> 


  <p>Try out some of these fun activities on your own or with some friends!</p>
  <ul>
    <li>Head to the nearest gym, pool, or park and breathe some fresh air!</li>
    <li>Try a few jumping jacks, sit-ups, or push-ups. </li>
    <li>You're never too old for hide-and-seek.</li>
    <li>Buy yourself a hula-hoop, jumprope, or ping-pong table!</li>
    <li>Walk your dog/your neighbor's dog, or better yet, go to the local animal shelter and adopt a dog to walk.</li>
    <li>Go for a quick jog, even if it's just 5 minutes.</li>
  </ul>
</div>

</body>
</html>
