<!DOCTYPE html>
<html lang="en">
<head>
  <title>Positivity Place</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  p {
      font-size: 1.5em;
    }
</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('render_static', page_name='home') }}">Positivity Place</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('render_static', page_name='home') }}">Home</a></li>
      <li><a href="{{ url_for('render_static', page_name='about') }}">About</a></li>
      <li class="active"><a href="{{ url_for('render_static', page_name='food') }}">Food</a></li>
      <li><a href="{{ url_for('render_static', page_name='exercise') }}">Exercise</a></li>
      <li><a href="{{ url_for('render_static', page_name='games') }}">Games</a></li>
      <li><a href="{{ url_for('render_static', page_name='vent') }}">Vent Pillow</a></li>
      <li><a href="{{ url_for('render_static', page_name='other') }}">Other</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1>Food</h1>
  <p>Eating is one of the main joys in life.</p>

<h4>Restaurants near you</h4>
<div class="widget_wrap" style="width:520px;height:504px;display:inline-block;margin:auto;"><iframe src="https://www.zomato.com/widgets/res_search_widget.php?entity_id=10784&entity_type=city&city_id=10784&theme=red&widgetType=large&sort=popularity" style="position:relative;width:100%;height:100%;" border="0" frameborder="0"></iframe></div>

<h4> Order in </h4>
<div class="widget_wrap" style="width:320px;height:797px;display:inline-block;margin:auto;"><iframe src="https://www.zomato.com/widgets/o2.php?lat=37.8716%C2%B0+N&lon=122.2727%C2%B0+W&theme=red" style="position:relative;width:100%;height:100%;" border="0" frameborder="0"></iframe></div>


</div>

</body>
</html>
