<!DOCTYPE html>
<html lang="en">
<head>
  <title>Positivity Place</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
    p, li {
      font-size: 1.5em;
    }
  
</style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('render_static', page_name='home') }}">Positivity Place</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ url_for('render_static', page_name='home') }}">Home</a></li>
      <li><a href="{{ url_for('render_static', page_name='about') }}">About</a></li>
      <li><a href="{{ url_for('render_static', page_name='food') }}">Food</a></li>
      <li><a href="{{ url_for('render_static', page_name='exercise') }}">Exercise</a></li>
      <li><a href="{{ url_for('render_static', page_name='games') }}">Games</a></li>
      <li><a href="{{ url_for('render_static', page_name='vent') }}">Vent Pillow</a></li>
      <li class="active"><a href="{{ url_for('render_static', page_name='other') }}">Other</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1>Other</h1>
  <p>Here are a few of our personal favorites :)</p>
  <ul>
    <li><a href="http://www.onemotion.com/flash/snake-game/">Snake Game</a></li>
    <li>Taking a nap</li>
    <li><a href="http://petflix.io/random">Petflix</a> (more cute animals)</li>
    <li>Eating ice cream</li>
    <li>Breathing exercises</li>
  </ul>
</div>

</body>
</html>
